html, body {
	min-height: 100%;
	background: black;
	color: cadetblue;
    text-shadow: 1px 1px 1px white;
    border-radius: 15px;
}

nav {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: cadetblue;
    border-radius: 15px;
    height: 100px;
}

.nav-button {
    border: 3px solid white;
    border-radius: 15px;
    padding: 15px;
    padding-inline: 100px;
    margin-top: 25px;
    margin-inline: 50px;
    color: white;
    font-size: large;
}

h1 {
    display: flex;
    justify-content: center;
}

.canvas {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.box {
    height: 100px;
    width: 100px;
    margin-inline: 25px;
    border-radius: 15px;
}

#box1 {
    background: aliceblue;
}
#box2 {
    background: azure;
}
#box3 {
    background: antiquewhite;
}
#box4 {
    background: blanchedalmond;
}
#box5 {
    background: beige;
}
#box6 {
    background: cornsilk;
}
#box7 {
    background: bisque;
}
#box8 {
    background: burlywood;
}
#box9 {
    background: aquamarine;
}
#box10 {
    background: chartreuse;
}
#box11 {
    background: cornflowerblue;
}
#box12 {
    background: violet;
}
#box13 {
    background: aqua;
}
#box14 {
    background: darkcyan;
}
#box15 {
    background: darkblue;
}
#box16 {
    background: magenta;
}
