* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

html, body {
    background: black;
    color: blanchedalmond;
}

nav {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    border-radius: 15px;
    height: 100px;
}

hr {
    border: 2px solid;
}

.nav-button {
    border: 3px solid;
    border-radius: 15px;
    padding: 15px;
    padding-inline: 100px;
    margin-top: 25px;
    margin-inline: 50px;
    color: blanchedalmond;
}

a {
    font-weight: bold;
    text-decoration: none;
}

h1 {
    text-align: center;
    font-weight: bolder;
    margin: 20px;
}

div {
    text-align: center;
    font-size: medium;
}

h2 {
    display: inline-block;
}

.details {
    background: transparent;
    color: blanchedalmond;
    border: 2px solid;
    border-radius: 15px;
    display: inline-block;
    padding: 3px;
    margin: 25px;
}

button {
    background: transparent;
    border: 3px solid;
    padding-inline: 5px;
    border-radius: 15px;
    color: blanchedalmond;
    margin: 40px;
    font-size: x-large;
    cursor: pointer;
}

#result {
    margin: 25px;
    font-weight: bold;
}

.onePX {
    border: 1px solid;
}

p {
    margin: 5px;
}