* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

html, body {
    background: black;
    color: cyan;
}

nav {
    height: 100px;
    background: cyan;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    font-size: x-large;
    font-weight: 900;
    background: gold;
    border-radius: 5px;
    padding-inline: 70px;
    padding-block: 7px;
    margin-inline: 50px;
}

main {
    text-align: center;
}

h1 {
    margin: 5vh;
}

p {
    margin: 1em;
}

label {
    display: block;
}

input {
    margin-bottom: 2vh;
    background: gold;
    font-size: large;
    font-weight: bold;
    padding: 0.5em;
    border-radius: 0.5em;
}